:root {
  --accent-color: #2980b9;
  --bg-color: #222f3e;
  --text-primary-color: #333;
  --text-secondary-color: #5e5e5e;
  --blockquote-bg-color: #eee;
  --paper-bg-color: #fff;
  --paper-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Merriweather", serif;
}

body {
  font-family: var(--primary-font);
  color: var(--text-primary-color);
  background-color: var(--bg-color);
  margin: 0;
  font-size: 12pt;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid var(--accent-color);
}

em {
  font-size: 0.9em;
  color: var(--accent-color);
}

h1 {
  font-size: 3em;
}

h2, h3 {
  font-size: 1.2em;
}

h1, h2 {
  font-family: var(--secondary-font);
}

h1, h2, h4 {
  margin: 0;
}

h3 {
  font-weight: normal;
  margin-top: .125in;
  margin-bottom: .125in;
}

li {
  list-style: square;
}

nav {
  padding: 0.2in;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

nav a {
  padding-left: 0.5em;
  padding-right: 0.5em;
  transition: color 0.2s ease;
}

nav .nav-links {
  color: var(--text-secondary-color);
}

nav a:hover {
  color: var(--accent-color);
}

#content-container {
  display: flex;
  justify-content: center;
}

#content {
  width: calc(7.5in - 0.4in);
  margin: 0.25in;
  padding: 0.4in;
}

.paper {
  background-color: var(--paper-bg-color);
  box-shadow: var(--paper-shadow);
}

@media print {
  #content {
    width: 8.5in;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
  nav {
    display: none;
  }
  body {
    background: none;
  }
}

@media only screen and (max-width: 800px) {
  #content {
    margin: 3vw;
    padding: 0;
    box-shadow: none;
  }
  nav {
    display: none;
  }
  body {
    background: none;
  }
  #resume {
    font-size: 8pt;
  }
}

.details {
  margin-top: 0.1in;
  margin-bottom: 0.1in;
}

.details > li {
  margin-bottom: 0.015in;
}

.section, p {
  border-left: 1px solid var(--accent-color);
  padding-top: 0.025in;
  padding-bottom: 0.05in;
  padding-left: 0.1in;
}

blockquote {
  color: var(--text-secondary-color);
  border-left: 5px solid var(--accent-color);
  background-color: var(--blockquote-bg-color);
}

blockquote p {
  border: none;
  padding-right: 0.1in;
}

.section-header {
  display: flex;
  justify-content: space-between;
}

.section-block {
  display: flex;
  flex-direction: column;
}

.right-align {
  margin-left: 1em;
  text-align: right;
}