:root {
  --accent-color: #2980b9;
  --bg-color: #222f3e;
  --text-color: #333333;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;
  color: var(--text-color);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid var(--accent-color);
}

em {
  font-size: 0.9em;
  color: var(--accent-color);
}

h1 {
  font-size: 3em;
  font-family: "Merriweather", serif;
  margin: 0;
}

h3 {
  font-weight: normal;
  margin-top: .125in;
  margin-bottom: .125in;
}

li {
  list-style: square;
}

#paper-container {
  display: flex;
  justify-content: center;
}

#paper {
  width: calc(7.5in - 0.4in);
  height: calc(11in - 0.4in);
  margin: 0.25in;
  padding: 0.4in;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media print {
  #paper {
    width: 8.5in;
    height: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
  body {
    background: none;
  }
}

@media only screen and (max-width: 800px) {
  #paper {
    margin: 0;
    padding: 0;
    height: 0;
    box-shadow: none;
  }
  body {
    background: none;
    font-size: 8pt;
  }
}

.details {
  margin-top: 0.1in;
  margin-bottom: 0.1in;
}

.details > li {
  margin-bottom: 0.015in;
}

.section {
  border-left: 1px solid var(--accent-color);
  padding-top: 0.025in;
  padding-bottom: 0.05in;
  padding-left: 0.1in;
}

.section-header {
  display: flex;
  justify-content: space-between;
}

.section-block {
  display: flex;
  flex-direction: column;
}

.right-align {
  margin-left: 1em;
  text-align: right;
}